<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="beyza_210201084.Properties.Settings.Beyza_210201084ConnectionString"
            connectionString="Data Source=LAPTOP-H93V9USR;Initial Catalog=Beyza_210201084;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>